<!DOCTYPE html>
<html>
<head>
  <title>what a granD City</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>what a gran<strong>d c</strong>ity!</h1>

  <%= yield %>

</body>
<footer>
  <ul>
    <li><a href= '/posts'>all posts</a></li>
    <li><a href= '/posts/new'>add a new post</a></li>
</footer>
</html>
